In [ ]:
import platform

CurrentGoogle = platform.uname()
print(CurrentGoogle)

uname_result(system='Linux', node='994ed7ad4c48', release='6.1.85+', version='#1 SMP PREEMPT_DYNAMIC Thu Jun 27 21:05:47 UTC 2024', machine='x86_64')

In [ ]:
# 다이아몬드 모양 별을 출력하는 프로그램이에용.
# 피라미드 모양 별과 역피라미드 모양 별을 하나씩 만들어 붙여용.

while True:
    try:
        n = int(input("피라미드의 높이를 입력하세용: "))
        if n > 0:
            break
        else:
            print("양의 정수로 입력해 주세용!.")
    except ValueError:
        print("잘못된 입력입니다. 숫자를 입력해 주세용.")

print("출력함다.\n")

for i in range(1, n + 1):
    print(" " * (n - i), end="")
    print("*" * (2 * i - 1))

for i in range(n, -1, -1):
  print(" " * (n - i), end="")
  print("*" * (2 * i - 1))

피라미드의 높이를 입력하세용: 5
출력함다.

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [ ]:
# 안이 빈 역삼각형 만드는 문제.

while True:
    try:
        n = int(input("삼각형의 높이를 입력하세용: "))
        if n > 0:
            break
        else:
            print("양의 정수로 입력해 주세용!.")
    except ValueError:
        print("잘못된 입력입니다. 숫자를 입력해 주세용.")

print("")

for i in range(1, n + 1):
    print(" " * (n - i), end="")
    if i == 1:
        print("*" * (2 * i - 1))
    else:
        print("*" + " " * (2 * i - 3) + "*")

for i in range(n-1, 0, -1):
    print(" " * (n - i), end="") # 일반 삼각형 마지막 줄과의 중복을 피해 첫 줄을 제거
    if i == 1:
        print("*" * (2 * i - 1))
    else:
        print("*" + " " * (2 * i - 3) + "*")

print("\n출력을 완료했어용.")

삼각형의 높이를 입력하세용: 5

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

출력을 완료했어용.

In [ ]:
# 구구단 문제 (구구단 작성 후 자릿수 정렬하기)

# 오른쪽 정렬, 자릿수 두 자리 확보
# 각 단 사이에는 Tab 1개(스페이스 4개) 사이의 간격 필요

def make_gugu(num):
  print()
  for i in range(2,10): # 곱하는 수는 2부터 9까지
    for j in range(2,num+1): # 곱해지는 수는 2부터 num까지
      print(f"{j} x {i} = {j*i:>3}\t", end="")
    print()

while True:
    try:
        n = int(input("몇 단까지 출력할까용: "))
        if n > 0:
            break
        else:
            print("양의 정수로 입력해 주세용!.")
    except ValueError:
        print("잘못된 입력입니다. 숫자를 입력해 주세용.")

make_gugu(n)

몇 단까지 출력할까용: 7

2 x 2 =   4	3 x 2 =   6	4 x 2 =   8	5 x 2 =  10	6 x 2 =  12	7 x 2 =  14
2 x 3 =   6	3 x 3 =   9	4 x 3 =  12	5 x 3 =  15	6 x 3 =  18	7 x 3 =  21
2 x 4 =   8	3 x 4 =  12	4 x 4 =  16	5 x 4 =  20	6 x 4 =  24	7 x 4 =  28
2 x 5 =  10	3 x 5 =  15	4 x 5 =  20	5 x 5 =  25	6 x 5 =  30	7 x 5 =  35
2 x 6 =  12	3 x 6 =  18	4 x 6 =  24	5 x 6 =  30	6 x 6 =  36	7 x 6 =  42
2 x 7 =  14	3 x 7 =  21	4 x 7 =  28	5 x 7 =  35	6 x 7 =  42	7 x 7 =  49
2 x 8 =  16	3 x 8 =  24	4 x 8 =  32	5 x 8 =  40	6 x 8 =  48	7 x 8 =  56
2 x 9 =  18	3 x 9 =  27	4 x 9 =  36	5 x 9 =  45	6 x 9 =  54	7 x 9 =  63